@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  user-select: none;
  transition: all ease .50s;
}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
  ;
  background-size:cover;
   background-image: url(https://cdn.discordapp.com/attachments/1172335701874974822/1281106271730405388/Rectangle_1_1-photoaidcom-darken.png?ex=66da82b0&is=66d93130&hm=a2a50722ac9839db4361ac7578ccc5f70368b0eb662a047550d48a8380ba8ab5&);
}


@font-face {
  font-family: "Sora-black";
  src: url("./fonts/Sora/Sora-Black.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-bold";
  src: url("./fonts/Sora/Sora-Bold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-extrabold";
  src: url("./fonts/Sora/Sora-ExtraBold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-extralight";
  src: url("./fonts/Sora/Sora-ExtraLight.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-light";
  src: url("./fonts/Sora/Sora-Light.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-medium";
  src: url("./fonts/Sora/Sora-Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-regular";
  src: url("./fonts/Sora/Sora-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-semibold";
  src: url("./fonts/Sora/Sora-SemiBold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora-thin";
  src: url("./fonts/Sora/Sora-Thin.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}